.channel-card {
    background-color: var(--lumo-contrast-5pct);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--lumo-body-text-color);
}

.channel-footer {
    margin-top: 20px;
}

.channel-title {
    color: var(--lumo-primary-color);
}