:root {
    --lumo-primary-color: #45ac01;
    --lumo-primary-color-10pct: rgba(69, 172, 1, 0.1);
    --lumo-primary-color-50pct: rgba(69, 172, 1, 0.5);
    --lumo-primary-text-color: var(--lumo-primary-color);
    --vaadin-focus-ring-color: var(--lumo-primary-color);
}

.avatar-layout {
    margin-bottom: 20px;
}

[theme~='dark'] {
    --lumo-base-color: hsl(0, 0%, 5%);
    --lumo-primary-color: #54a300;
    --lumo-primary-color-10pct: rgba(109, 212, 0, 0.1);
    --lumo-primary-color-50pct: rgba(109, 212, 0, 0.5);
    --lumo-primary-text-color: var(--lumo-primary-color);
    --vaadin-focus-ring-color: var(--lumo-primary-color);

    --lumo-body-text-color: rgba(255, 255, 255, 0.9);
    --lumo-secondary-text-color: rgba(255, 255, 255, 0.7);

    --lumo-contrast-5pct: rgba(255, 255, 255, 0.05);
    --lumo-contrast-10pct: rgba(255, 255, 255, 0.1);
    --lumo-contrast-20pct: rgba(255, 255, 255, 0.2);
    --lumo-contrast-30pct: rgba(255, 255, 255, 0.3);
    --lumo-contrast-40pct: rgba(255, 255, 255, 0.4);
    --lumo-contrast-50pct: rgba(255, 255, 255, 0.5);
    --lumo-contrast-60pct: rgba(255, 255, 255, 0.6);
    --lumo-contrast-70pct: rgba(255, 255, 255, 0.7);
    --lumo-contrast-80pct: rgba(255, 255, 255, 0.8);
    --lumo-contrast-90pct: rgba(255, 255, 255, 0.9);

    --lumo-box-shadow-s: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
    --lumo-box-shadow-m: 0 3px 6px -1px rgba(0, 0, 0, 0.5);
    --lumo-box-shadow-l: 0 4px 12px -1px rgba(0, 0, 0, 0.5);
}
